@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
/* global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0;
}
.primary-button {
  outline: 0;
  border: none;
  padding: 15px 20px;
  background-image: linear-gradient(90deg, #c21273, #ff008e);
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 7px 0 #a5075e;
  position: relative;
  top: 0;
}
.primary-button:active {
  top: 5px;
  box-shadow: 0px 2px 0 #a5075e;
}
.section-title {
  text-align: center;
}
.section-title h2 {
  font-size: 40px;
  border-bottom: 2px solid #ff008e;
  text-transform: uppercase;

  display: inline-block;
  padding: 50px 5px 10px 10px;
}
.heighlight {
  color: #ff008e;
}
/* header css */

header {
  background-image: url("./cosmic-world-resources/images/cloud.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style-type: none;
  margin: 10px;
}
.navigation li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 15px 10px;
}
/* header banner */
.banner {
  height: calc(100vh-80px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-left h1 {
  font-size: 45px;
  color: #fff;
}
.banner-left p {
  font-size: 18px;
  color: #fff;
  margin: 20px 0;
  line-height: 1.5;
}
.banner-right img {
  width: 100%;
}

/* feature styles */
.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
}
.card {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0px 30px 33px rgba(0, 0, 0, 0.2);
}
.card-icon {
  background-color: #ff008e;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 11px;
  color: #fff;
}
.card h3 {
  color: #ff008e;
  font-size: 25px;
}
.card p {
  margin: 10px 0;
  line-height: 1.5;
}
.card a {
  text-decoration: none;
  color: #ff008e;
}
